*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body, html{
	font-family: 'PT Sans Narrow',sans-serif;
	background-color:#f7f7f7;

}
.wrapper {}
.header {
	max-height: 72px;
	background-color: #000;
}
.container {
	max-width: 940px;
	margin:0 auto;
}
.header__body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	height: 72px;
	padding:0 20px;
	-ms-align-items: center;
	align-items: center;
}
.header__logo {}
.menu {}
.menu__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
  height:68px;
}
.menu__list li{
	margin:0 0 0 40px;
	color: #fff;
}
.menu__link{
	display: inline-block;
	color: #fff;
	font-family: 'PT Sans Narrow',sans-serif;
	line-height: 66px;
	font-weight: 700;
}
.menu__link span{
	display: inline-block;
	line-height: inherit;
}
.menu__link:hover{
	border-bottom: 3px solid #fff;
	background-color: #444;
}
.menu__link:visited{
	border-bottom: 3px solid #fff;
	background-color: #444;
}
.fa{
	display: inline-block;
	font-family: FontAwesome;
	color: #fff;
	opacity: 0.6;
	font-size: 18px;
	margin-right: 5px;
}
.icon-group {
	display:flex;
}

.icon-search {
	display: flex;
	justify-content: center;
	align-items: center;
	width:30px;
  height:30px;
  background-color: #fff;
  border-radius:50%;
}
.icon-basket{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
  width:30px;
  height:30px;
  background-color: #fff;
  border-radius:50%;
}
.icon{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
}

